
html, body {
margin:0;
padding:0;
font-size:10px;
font-family: "Lucida Grande", Verdana;
text-align: center;
background:url('http://data.gov.uk/sites/all/themes/datagovuk/images/body_bg_big.png') repeat scroll 0 0 transparent;
}
a:focus { outline:none }
#infovis {
position:fixed;
width:100%;
height:100%
margin:auto auto;
overflow:hidden;
}

h1.title {
-moz-box-shadow:0 5px 24px #888888;
-webkit-box-shadow:0 5px 24px #888888;
box-shadow:0 5px 24px #888888;
background-color:#333333;
border-bottom:1px solid #EEEEEE;
color:#FFFFFF;
font-size:16px;
height:30px;
left:0;
margin:0;
min-height:30px;
padding-left:10px;
/*padding-top:5px;*/
position:fixed;
text-align:left;
width:100%;
overflow:hidden;
}
h1.title span {
display:inline-block;
font-size:12px;
height:30px;
line-height:30px;
opacity: 0;
overflow:hidden;
padding:0 10px;
cursor:pointer;
visibility: hidden;
}
h1.title span:hover {
text-decoration:underline;
} 
h1.title span#unit:hover {
text-decoration:none;
} 
h1.title span#text{
font-size:14px;
opacity:1 !important;
visibility:visible !important;
}
h1.title span#dept {
background-color:#EEEEEE;
border-right:2px ridge #FFFFFF;
color:#333333;
opacity:0;
}
h1.title span#unit {
background-color:#DDDDDD;
border-right:2px ridge #EEEEEE;
color:#333333;
opacity:0;
}
h1.title span#post {
background-color:#CCCCCC;
color:#333333;
opacity:0;
}

#log {
-moz-box-shadow:0 5px 24px #888888;
-webkit-box-shadow:0 5px 24px #888888;
box-shadow:0 5px 24px #888888;
-webkit-border-radius: 5px 5px 5px 5px;
-moz-border-radius:  5px 5px 5px 5px;
border-radius: 5px 5px 5px 5px;
background-color:#FFFFFF;
border:1px solid #DDDDDD;
color:#577D00;
display:none;
font-size:14px;
font-weight:bold;
margin:0 auto;
opacity:1;
padding:10px;
position:relative;
text-align:center;
top:80px;
width:250px;
left:-55px;
}
#log span {
display:block;
float:none;
}
#log img {
margin-left:0;
margin-top:10px;
}
#log-wrapper {
margin:0;
padding:0;
position:absolute;
text-align:center;
top:0;
width:100%;
z-index:9999;
}
/* Treemap */
#right-container {
  display: none;
}

#center-container {
  width:100%;
  height:100%;
}

#infovis {
position:relative;
width:800px;
height:800px;
margin:auto;
overflow:hidden;
left:0;
bottom:0;
position:fixed;
}
.node {
border:1px solid transparent;
cursor:pointer;
font-family:Arial;
font-size:10px;
overflow:hidden;
text-align:center;
color:#FFFFFF;
}
div.root {
font-size:14px !important;
line-height:25px !important;
}
div.Government {
line-height:25px !important;
}
.tip {
background-color:#333333;
border:5px solid #555555;
color:#FFFFFF;
font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;
font-size:16px;
opacity:1;
padding:10px;
text-align:center;
width:200px;
}
div.Government  {
font-size:16px;
padding-left:10px;
padding-top:4px;
text-align:center;
}
div.Department {

}
div.Department span {
margin:16% auto auto;
}
div.Unit{

}
div.Unit span {
font-size:10px;
overflow: hidden;
}
div.Post {

}
div.Post span {
display:block;
font-size:10px;
margin:16% auto auto;
position:absolute;
width:90%;
}
div#right {
-moz-box-shadow:0 25px 25px #888888;
background-color:#333333;
border-left:1px solid #EEEEEE;
color:#FFFFFF;
font-size:10px;
height:100%;
position:fixed;
right:0;
top:30px;
width:100px;
}
div#right ul {
margin:0;
padding:0;
list-style-type: none;
}
div#right ul li {
background:none repeat scroll 0 0 #555555;
margin:auto auto 1px;
width:70px;
}
div#right ul li a {
background:none repeat scroll 0 0 #555555;
cursor:pointer;
text-decoration: none;
color:#FFFFFF;
display:block;
width:100%;
height:100%;
padding-bottom:5px;
padding-top:5px;
}
div#right ul li a:hover {
background:none repeat scroll 0 0 #FFFFFF;
color:#333333 !important;
}
div#right ul li p {
text-decoration:none;
margin:0;
padding-bottom:5px;
padding-top:5px;
font-size:10px;
}
div#right select {
margin-top:5px;
display:inline-block !important;
}
.tooltip {
-moz-box-shadow:0 5px 24px #888888;
-webkit-box-shadow:0 5px 24px #888888;
box-shadow:0 5px 24px #888888;
-webkit-border-radius:10px 10px 10px 10px;
-moz-border-radius:10px 10px 10px 10px;
border-radius:10px 10px 10px 10px;
background-color:#FFFFFF;
border:10px solid #DDDDDD;
color:#333333;
display:none;
font-size:12px;
font-weight:bold;
height:auto;
opacity:1;
overflow-x:hidden;
overflow-y:auto;
padding:15px 10px;
position:fixed;
text-align:center;
width:150px;
z-index:9999 !important;
}
div.tip {
-moz-box-shadow:0 5px 24px #888888;
-webkit-box-shadow:0 5px 24px #888888;
box-shadow:0 5px 24px #888888;
-webkit-border-radius:10px 10px 10px 10px;
-moz-border-radius:10px 10px 10px 10px;
border-radius:10px 10px 10px 10px;
background-color:#FFFFFF;
border:10px solid #DDDDDD;
color:#333333;
display:none;
font-size:12px;
font-weight:normal;
height:auto;
opacity:1;
overflow-x:hidden;
overflow-y:auto;
padding:15px 10px;
position:fixed;
right:120px;
text-align:left;
top:50px;
width:250px;
z-index:9999 !important;
}
div#formats {
margin-top:50px;
}
div#formats a {
background:none repeat scroll 0 0 #555555;
color:#FFFFFF;
display:block;
font-size:10px;
font-weight:bold;
margin:auto auto 1px;
padding:5px;
text-align:center;
text-decoration:none;
width:60px;
}
div#formats a:hover {
background:none repeat scroll 0 0 #FFFFFF;
color:#333333;
}
li#levelsToggle {
padding-bottom:5px;
}
li#deputyToggle {
text-align: center;
padding-bottom:5px;
}
li#deputyToggle span {
display:block;
}
li#deputyToggle input {
}
li#deputyToggle label {
display:inline-block;
width:22px;
}
li#resizeToggle  {
text-align: center;
padding-bottom:5px;
}
li#resizeToggle span {
display:block;
}
li#resizeToggle input {
}
li#resizeToggle label {
display:inline-block;
width:22px;
}
/* Data Sources Panel */
div#apiCalls {
display:none;
bottom:0;
padding:10px;
position:fixed;
right:0;
width:80px;
z-index:9999;
}
div#apiCalls p {
margin:0;
padding:0;
}
div#apiCalls p.label {
margin:0 0 10px;
}
div#apiCalls a.source {
background-color:#555555;
color:#FFFFFF;
display:block;
margin:0 auto 1px;
padding:4px;
width:30px;
cursor:pointer;
position:relative;
text-decoration: none;
}
div#apiCalls a.source:hover {
background-color:#FFFFFF;
color:#333333;
}
div#apiCalls div.apiCall {
-moz-box-shadow:0 5px 24px #888888;
-webkit-box-shadow:0 5px 24px #888888;
box-shadow:0 5px 24px #888888;
-webkit-border-radius:10px 10px 10px 10px;
-moz-border-radius:10px 10px 10px 10px;
border-radius:10px 10px 10px 10px;
background-color:#FFFFFF;
border:1px solid #DDDDDD;
bottom:20px;
color:#333333;
display:none;
font-size:11px;
height:auto;
opacity:1;
overflow-x:hidden;
overflow-y:auto;
padding:25px 20px;
position:fixed;
right:125px;
text-align:left;
width:300px;
z-index:9999;
}
a.close {
-moz-border-radius:5px 5px 5px 5px;
border-radius:5px 5px 5px 5px;
background-color:#CCCCCC;
color:#333333;
cursor:pointer;
padding:1px 5px 2px;
position:absolute;
right:7px;
top:7px;
font-size:10px;
}
a.close:hover {
background-color:#333333;
color:#CCCCCC;
}
a.comment {
-moz-border-radius:5px 5px 5px 5px;
border-radius:5px 5px 5px 5px;
background-color:#DE5B06;
color:#333333;
cursor:pointer;
padding:1px 5px 2px;
position:absolute;
right:7px;
top:7px;
font-size:10px;
}
a.comment:hover {
background-color:#FFFFFF;
color:#DE5B06;
}
div#apiCalls div.apiCall p span {
border-bottom:1px solid #EEEEEE;
display:block;
font-weight:bold;
}
div#apiCalls div.apiCall p.title {
margin-bottom:15px;
}
div#apiCalls div.apiCall p.description {
margin-bottom:15px;
}
div#apiCalls div.apiCall p.url {
margin-bottom:15px;
word-wrap: break-word;
}
div#apiCalls div.apiCall p.url a {
color:#758200;
text-decoration: none;
}
div#apiCalls div.apiCall p.url a:hover {
text-decoration: underline;
}
div#apiCalls div.apiCall p.params {
margin-bottom:5px;
}
div#apiCalls div.apiCall ul.paramlist {
list-style-type:disc;
margin-left:15px;
margin-bottom: 15px;
}
div#apiCalls div.apiCall ul.paramlist li {
margin:0;
background:none;
width:auto;
word-wrap:break-word;
}
div#apiCalls div.apiCall p.formats {

}
div#apiCalls div.apiCall p.formats a {
background-color:#333333;
color:#EEEEEE;
display:inline-block;
font-size:13px;
letter-spacing:1px;
margin-left:1%;
margin-right:2%;
margin-top:10px;
padding:2px 1%;
text-align:center;
width:15%;
text-decoration: none;
}
div#apiCalls div.apiCall p.formats a:hover {
background-color:#EEEEEE;
color:#333333;
}
div.outer {
height:100%;
width:100%;
display: table;
position: static;
}
div.middle {
display: table-cell;
vertical-align: middle;
text-align: center;
height:100%;
width: 100%;
}
div.inner {
margin-left:auto;
margin-right:auto;
text-align: center;
}
div.Government div.middle {
vertical-align: top !important;
}
div.vtop {
padding-top:7px;
vertical-align:top !important;
}

/* for explorer only
div.outer {position: relative;}
div.middle {position: absolute; top: 50%;}
div.inner {position: relative; top: -50%;}
*/
